/*================================================
STYLE GUIDE
==================================================
#Width
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)


### Font size (paragraph): 16px

### Font-Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
### Font-Weights: 500, 700, 900

================================================ */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+display=swap');

/*=====================COMMON CSS====================*/

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top:2rem;
}
.attribution a { color: hsl(228, 45%, 44%); }
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pale-blue:#e0e8ff;
    --bright-blue:#3829e0;
    --very-pale-blue:#f5f7ff;
    --desaturated-blue:#7280a7;
    --dark-blue:#1f2f56;
}
html{
    background-color:var(--pale-blue);
    /*To flood or cover the whole viewport without specifying any height to the body element, assign background-color to html element. 
    Assigning background-color to body will only cover the viewport equivalent to the body height 
    
    Link: https://css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/
    */
    
    font-size:16px;
    /*Always specify font-size at the html element, rather than body element*/
}
body{
    min-height:100vh;
    /*Specify min-height of 100vh to body. Do not use 100%. Do not assign it to html.*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0;
    text-align:center;
    font-family:'Red Hat Display', Arial, Helvetica, sans-serif;
    font-weight:500;
    /*Specify margin, background, and text properties to the body element rather than the HTML element
    
    Difference between html and body element and when to use which
    Link: https://css-tricks.com/html-vs-body-in-css/

    As referenced from Claus Gregerson's comment from this page- assigning background-color to the html allows the background-color to render before other stuff loads. It is a good thing 
    */
}
@media screen and (min-width:800px){
    body{
        min-height:100vh;
        background-image:url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
        background-size:100%;
    }
}
img{
    max-width:100%;
}



/*============================================================================
SPEFICIC CSS
==============================================================================*/
/*=================TOP SECTION===============*/

.order-summary-card{
    max-width:311px;
    min-height:570px;
    margin:0 auto;
    background-color:white;
    border-radius:1rem;
}

.order-summary-card > *{
    margin:1.6rem;
    /*margin-top: 2rem;
    margin-bottom:1.6rem;*/
}
.order-text p{
    margin:1.1rem 0 1.6rem 0;
}
/*Did till now*/

.plan-info{
    min-height:80px;
    margin-top:0;
    margin-bottom:0;
}
.top-poster{
    max-height:31.37%;
    width:100%;
    margin:0;
}

.top-poster img{
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}
/*=================MIDDLE SECTION===============*/
.order-text{
    color:var(--desaturated-blue);
}
.order-text h1{
    font-size:1.45rem;
    color:var(--dark-blue);
    font-weight:700;
}
.order-text p{
    line-height:1.75;
}

.plan-info{
    min-height:5rem;
    background-color:#f8f9fe;
    border-radius:1rem;

    /*display:flex;
    flex-direction:row;
    
    
    justify-content:space-around;
    align-items:center;*/

    display:grid;
    grid-template-columns:72px 1fr 80px;
    
    grid-template-areas: 
    "plan-pic plan-name-n-price change";
    place-content:center;
    place-items:center;

    /*Instruction: Fix the grid*/
    /*min-width:100%;*/
}
.plan-info > *{
}
.plan-pic{
    width:3rem;
    height:3rem;
    border-radius:50%;
    background-color: var(--pale-blue);/*#d6e1ff*/
    grid-column: plan-pic;
    place-self:center;
}
.plan-name-n-price{
    grid-column: plan-name-n-price;
    justify-self:left;
    color:var(--desaturated-blue);   
}
.plan-name-n-price .bold{
    font-weight:600;
    color:#28314a;
}
.plan-name-n-price p{
    text-align:left;
}
#change{
    font-weight:700;
    font-size:0.85rem;
    color:var(--dark-blue);
    grid-column:change;
}
#change a:hover, #change a:focus{
    text-decoration:none;
}
#change a:visited{
    color:#6254cb;
}

/*=================BOTTOM SECTION===============*/

.payment-order{
    height:3rem;
    display:flex;
    flex-direction:column;
    margin-bottom:1rem;    
}

.payment-order input{
    width:100%;
    height:3rem;
    font-size:1.1rem;
    font-weight:700;
    border:none;    
}
.payment-order input:first-of-type{
    background-color:#382ae1;
    border-radius:0.4rem;
    color:white;
    /*box-shadow: ;*/
    margin-bottom:0.7rem;

}
.payment-order input:last-of-type{
    margin-bottom:initial;
    color:grey;
    background-color:initial;
}

